/* fonts */
@font-face {
	font-weight: 400;
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff2") format("woff2");
	src: url("../fonts/cuprum.woff") format("woff");
}
@font-face {
	font-weight: 700;
	font-family: "Cuprum";
	src: url("../fonts/cuprumbold.woff2") format("woff2");
	src: url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
	font-weight: 700;
	font-style: italic;
	font-family: "Cuprum";
	src: url("../fonts/cuprumbolditalic.woff2") format("woff2");
	src: url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
	font-weight: 400;
	font-style: italic;
	font-family: "Cuprum";
	src: url("../fonts/cuprumitalic.woff2") format("woff2");
	src: url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
	font-weight: 400;
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff2") format("woff2");
	src: url("../fonts/ptsans.woff") format("woff");
}
@font-face {
	font-weight: 700;
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff2") format("woff2");
	src: url("../fonts/ptsans.woff") format("woff");
}
/* Variables for color */
:root {
	/* global colors */
	/* black */
	--x-black: rgb(0, 0, 0);
	--x-shadow-black: rgba(0, 0, 0, 0.24);
	--x-transparent-black05: rgba(0, 0, 0, 0.3);
	--x-shadow-light-black: rgba(0, 0, 0, 0.15);
	--x-transparent-black: rgba(0, 0, 0, 0.01);
	/* grey */
	--x-extra-light-grey: rgb(197, 197, 197);
	--x-light-medium-grey: rgb(193, 198, 206);
	--x-transparent-extra-light-grey03: rgba(197, 197, 197, 0.3);
	--x-transparent-grey03: rgba(169, 169, 169, 0.3);
	--x-middle-grey: rgb(169, 169, 169);
	--x-grey: rgb(234, 234, 234);
	--x-light-grey: rgb(183, 191, 200);
	--x-semi-grey: rgb(229, 229, 229);
	--x-light-dark-grey: rgb(181, 181, 181);
	--x-transparent-light-dark-grey03: rgba(181, 181, 181, 0.3);
	--x-dark-grey: rgb(61, 84, 111);
	--x-point-grey: rgb(171, 171, 171);
	/* white */
	--x-white: rgb(255, 255, 255);
	--x-transparent-white03: rgba(255, 255, 255, 0.3);
	--x-transparent-white05: rgba(255, 255, 255, 0.5);
	/* blue */
	--x-light-blue: rgb(241, 245, 247);
	--x-dark-blue: rgb(41, 52, 73);
	--x-extra-dark-blue: rgb(33, 42, 58);
	--x-deep-dark-blue: rgb(22, 29, 41);
	--x-middle-blue: rgb(50, 66, 92);
	--x-transparent-middle-blue05: rgba(50, 66, 92, 0.5);
	--x-shadow-blue: rgb(64, 80, 105);
	--x-blue: rgb(59, 188, 227);
	/* red */
	--x-red: rgb(238, 54, 67);
	--x-dark-red: rgb(202, 44, 55);
	--x-deep-dark-red: rgb(186, 39, 50);
	--x-shadow-red: rgb(181, 41, 51);
	/* green */
	--x-green: rgb(99, 166, 62);
	--x-bright-green: rgb(95, 187, 45);
	--x-light-green: rgb(142, 215, 143);
	--x-dark-green: rgb(54, 115, 21);
	--x-deep-dark-green: rgb(81, 133, 52);
	/* yellow */
	--x-yellow: rgb(255, 191, 71);
	--x-light-yellow: rgb(255, 192, 71);
	--x-extra-light-yellow: rgb(255, 209, 128);
	/* purpur */
	--x-purpur: rgb(220, 145, 216);
	/* beige */
	--x-extra-light-beige: rgb(244, 244, 244);
	--x-midle-beige: rgb(241, 241, 241);
	--x-light-beige: rgb(249, 245, 240);
	--x-beige: rgb(247, 243, 236);
	/* color compare for index.html */
	--cl-bg-button: var(--x-red);
	--cl-fill-button: var(--x-red);
	--cl-bg-button-hover: var(--x-dark-red);
	--cl-bg-button-active: var(--x-deep-dark-red);
	--cl-bg-new-label: var(--x-red);
	--cl-brg-card: var(--x-grey);
	--cl-bg-logo: var(--x-red);
	--cl-bg-logo-hover: var(--x-dark-red);
	--cl-bg-logo-active: var(--x-deep-dark-red);
	--cl-shadow-logo: var(--x-shadow-red);
	--cl-fill-icon: var(--x-transparent-white03);
	/* header colors */
	--cl-bg-header: var(--x-light-blue);
	--cl-bg-header-top-user-menu: var(--x-dark-blue);
	--cl-bg-header-user-menu-item-active: var(--x-deep-dark-blue);
	--cl-bg-header-top-ordered-button: var(--x-green);
	--cl-bg-header-top-ordered-button-hover: var(--x-bright-green);
	--cl-bg-header-top-ordered-button-active: var(--x-green);
	--cl-txt-header-top-odrered-button-active: var(--x-transparent-white05);
	--cl-txt-header-middle-title: var(--x-red);
	--cl-txt-header-middle-phone: var(--x-red);
	--cl-fill-header-middle-phone-icon: var(--x-light-grey);
	--cl-fill-header-middle-login-icon: var(--x-extra-light-grey);
	--cl-fill-header-middle-login-icon-hover: var(--x-dark-grey);
	--cl-txt-header-middle-menu-button-hover: var(--x-red);
	--cl-fill-header-middle-login-icon-active: var(--x-extra-light-grey);
	--cl-bg-navigation-menu: var(--x-middle-blue);
	--cl-shadow-navigation-menu: var(--x-dark-blue);
	--cl-bg-navigation-menu-item-hover: var(--x-dark-blue);
	--cl-bg-navigation-menu-item-active: var(--x-dark-blue);
	/* advertisement colors */
	--cl-bg-adv-material-card: var(--x-yellow);
	--cl-bg-adv-tool-card: var(--x-blue);
	--cl-bg-adv-technic-card: var(--x-purpur);
	--cl-bg-adv-discount-card: var(--x-light-green);
	--cl-bg-adv-delivery-card: var(--x-light-yellow);
	--cl-bg-adv-button: var(--x-transparent-white03);
	--cl-bg-adv-button-hover: var(--x-transparent-extra-light-grey03);
	--cl-bg-adv-button-active: var(--x-transparent-grey03);
	/* section header */
	--cl-bg-section-header: var(--x-light-beige);
	/* popular products color */
	--cl-shadow-product-item-hover: var(--x-shadow-light-black);
	--cl-bg-product-button-buy: var(--x-green);
	--cl-shadow-product-button-buy: var(--x-dark-green);
	--cl-bg-product-button-buy-hover: var(--x-bright-green);
	--cl-bg-product-button-buy-active: var(--x-deep-dark-green);
	--cl-brd-product-button-bookmark: var(--x-green);
	--cl-brd-product-button-bookmark-hover: var(--x-middle-blue);
	--cl-brd-product-button-bookmark-active: var(--x-transparent-middle-blue05);
	--cl-txt-product-button-bookmark: var(--x-middle-blue);
	--cl-txt-product-old-price: var(--x-middle-grey);
	/* popular manufacturers colors */
	--cl-shadow-manufacturer-card: var(--x-shadow-light-black);
	/* services colors*/
	--cl-bg-services: var(--x-light-blue);
	--cl-bg-services-tab: var(--x-middle-blue);
	--cl-bg-services-tab-background-hover: var(--x-dark-blue);
	--cl-txt-services-tab-text-active: var(--x-middle-blue);
	--cl-txt-services-title: var(--x-middle-blue);
	--cl-shadow-services-tab: var(--x-dark-blue);
	--cl-inshadow-services-tab: var(--x-shadow-blue);
	/* footer colors */
	--cl-bg-footer: var(--x-middle-blue);
	--cl-txt-footer-second-menu: var(--x-extra-light-yellow);
	--cl-bg-footer-bottom: var(--x-dark-blue);
	--cl-bg-footer-bottom-social: var(--x-extra-dark-blue);
	--cl-bg-footer-bottom-social-hover-active: var(--x-red);
	--cl-txt-footer-bottom-active: var(--x-red);
	/* modal window */
	--cl-brd-modal-window: var(--x-red);
	--cl-shadow-modal-window: var(--x-shadow-light-black);
	--cl-txt-modal-form-placeholder: var(--x-middle-grey);
	--cl-brd-modal-form-field: var(--x-middle-grey);
	--cl-bg-modal-feed-back-footer: var(--x-extra-light-beige);
	/* color compare for catalog.html */
	--cl-txt-auth-item: var(--x-middle-blue);
	--cl-txt-auth-item-hover: var(--x-red);
	--cl-txt-auth-active: var(--x-extra-light-grey);
	--cl-fill-auth-icon-active: var(--x-extra-light-grey);
	--cl-txt-auth-name-active: var(--x-extra-light-grey);
	--cl-fill-auth-icon: var(--x-extra-light-grey);
	--cl-fill-auth-icon-hover: var(--x-dark-grey);
	--cl-fill-bread-home-icon: var(--x-light-medium-grey);
	--cl-bg-catalog-sec: var(--x-light-blue);
	--cl-txt-catalog-title: var(--x-middle-blue);
	--cl-brd-pagination: var(--x-semi-grey);
	--cl-brd-pagination-hover: var(--x-extra-light-grey);
	--cl-brd-pagination-active: var(--x-red);
	--cl-bg-sorting-title: var(--x-beige);
	--cl-txt-sorting-menu: var(--x-transparent-black05);
	--cl-brd-sorting-underline: var(--x-red);
	--cl-fill-sorting-icon: var(--x-extra-light-grey);
	--cl-fill-sorting-icon-checked: var(--x-red);
	--cl-txt-sorting-label-checked: var(--x-red);
	--cl-brd-filter-fieldset: var(--x-extra-light-grey);
	--cl-shadow-filter-point: var(--x-extra-light-grey);
	--cl-bg-filter-point: var(--x-point-grey);
	--cl-bg-filter-price-input: var(--x-beige);
	--cl-fill-filter-checkbox: var(--x-extra-light-grey);
	--cl-bg-filter-radio: var(--x-extra-light-grey);
	--cl-fill-filter-checkbox-hover: var(--x-light-dark-grey);
	--cl-bg-filter-radio-hover: var(--x-light-dark-grey);
	--cl-fill-filter-checkbox-disabled: var(--x-transparent-light-dark-grey03);
	--cl-bg-filter-radio-disabled: var(--x-transparent-light-dark-grey03);
	--cl-brd-filter-show-button: var(--x-semi-grey);
	--cl-txt-filter-show-button-hover: var(--x-middle-grey);
	--cl-bg-filter-price-bar: var(--x-green);
	--cl-bg-filter-full-price-range: var(--x-extra-light-grey);
	--cl-bg-pagination-page-active: var(--x-red);
	--cl-bg-information-sec: var(--x-light-blue);
	--cl-bg-cart-footer: var(--x-midle-beige);
}
/* Variables for font-size */
:root {
	--fz-main: 18px;
	--lh-main: 1.33;
	--fz-header-text: 16px;
	--lh-header-text: 1.44;
	--fz-header-tel: 21px;
	--lh-header-tel: 1.43;
	--fz-header-addresss: 14px;
	--lh-header-addresss: 1.71;
	--fz-header-button: 21px;
	--lh-header-button: 1;
	--fz-adv-title: 24px;
	--lh-adv-title: 1.25;
	--fz-main-button-new: 14px;
	--lh-main-button-new: 1.29;
	--fz-adv-slider-title: 36px;
	--lh-adv-slider-title: 1;
	--fz-section-title: 30px;
	--lh-section-title: 1;
	--fz-product-title: 18px;
	--lh-product-title: 1.18;
	--fz-product-price: 17px;
	--lh-product-price: 1.06;
	--fz-page-text: 13px;
	--lh-page-text: 1.85;
	--fz-service-label: 21px;
	--lh-service-label: 1.43;
	--fz-footer-address: 16px;
	--lh-footer-address: 1.2;
	--fz-authorization-name: 21px;
	--lh-authorization-name: 1;
	--fz-authorization-menu: 16px;
	--lh-authorization-menu: 1.12;
	--fz-bread-crumbs-sorting: 13px;
	--lh-bread-crumbs-sorting: 1.38;
	--fz-filter-title: 17px;
	--lh-filter-title: 1.76;
	--fz-filter-input: 17px;
	--lh-filter-input: 1.06;
	--fz-filter-item: 15px;
	--lh-filter-item: 1.27;
	--fz-cart-text: 24px;
	--lh-cart-text: 1.25;
}
.page {
	height: 100%;
}
.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-width: 940px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
	font-size: var(--fz-main);
	line-height: var(--lh-main);
	color: var(--x-white);
}
.wrapper {
	width: 940px;
	margin: 0 auto;
}
/* -------clear style------- */
.link-clear {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.list-clear {
	list-style: none;
	padding: 0;
	margin: 0;
}
.button-clear {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.text-clear {
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.fieldset-clear {
	margin: 0;
	padding: 0;
	border: none;
}
.card-border {
	box-sizing: border-box;
	border: 1px solid var(--cl-brg-card);
}
/* -------header------- */
.header {
	background: var(--cl-bg-header);
	padding: 0 0 60px 0;
}
.header-index {
	margin-bottom: 59px;
}
.header-top {
	background: var(--cl-bg-header-top-user-menu);
}
.header-top .wrapper {
	display: flex;
	flex-wrap: wrap;
}
/* logo top */
.logo-icon {
	fill: var(--x-white);
}
.logo {
	box-sizing: border-box;
	background: var(--cl-bg-logo);
	box-shadow: 0px 5px 0px 0px var(--cl-shadow-logo);
	display: flex;
	justify-content: center;
	align-items: center;
}
.top-logo-link {
	padding: 12px 56px 5px 56px;
}
.logo:hover,
.logo:focus {
	background: var(--cl-bg-logo-hover);
}
.logo:active {
	background: var(--cl-bg-logo-active);
}
/* search form */
.search-label {
	display: grid;
	grid-template-columns: 34px 1fr;
}
.search-label:hover .search-icon {
	fill: var(--x-white);
}
.search-label:focus {
	background: var(--x-white);
}
.search-form {
	flex: 0 0 245px;
	height: 100%;
	margin-right: 23px;
}
.search-icon {
	position: absolute;
	left: 17px;
	top: 50%;
	transform: translateY(-50%);
}
.search-img {
	position: relative;
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100%;
}
.search-field {
	grid-row: 1/2;
	grid-column: 2/3;
	background: inherit;
	border-width: 0;
	height: 100%;
	padding: 10px 0 10px 0;
}
.search-field::placeholder {
	color: var(--x-white);
	padding: 0 0 0 5px;
}
.search-field:focus + * .search-icon {
	fill: var(--x-red);
}
.search-field:focus + .search-img {
	background: var(--x-white);
}
.search-field:focus::placeholder {
	color: var(--x-black);
}
.search-field:focus {
	outline: 0;
	background: var(--x-white);
}
/* user menu top */
.header-top-menu {
	grid-row: 1/2;
	grid-column: 3/4;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.icon {
	fill: var(--cl-fill-icon);
	vertical-align: middle;
	margin-right: 10px;
}
.user-menu {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	width: 150px;
	padding: 8px 0px;
}
.user-menu:hover .icon,
.user-menu:focus .icon {
	fill: var(--x-white);
}
.user-menu:active {
	background: var(--cl-bg-header-user-menu-item-active);
	opacity: 0.5;
}
/* order button */
.ordered-button {
	flex: 0 0 150px;
	text-align: center;
	background: var(--cl-bg-header-top-ordered-button);
	padding: 8px 0px;
}
.ordered-button:hover,
.ordered-button:focus {
	background: var(--cl-bg-header-top-ordered-button-hover);
}
.ordered-button:active {
	background: var(--cl-bg-header-top-ordered-button-active);
	color: var(--cl-txt-header-top-odrered-button-active);
}
/* header middle */
.header-middle {
	padding: 44px 0 41px 0;
}
.header-middle .wrapper {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	align-items: flex-start;
	column-gap: 20px;
	color: var(--x-black);
}
.header-title {
	grid-row: 1/2;
	grid-column: 1/2;
	font-size: var(--fz-header-text);
	line-height: var(--lh-header-text);
	font-style: italic;
	color: var(--cl-txt-header-middle-title);
	padding: 0 0 0 30px;
}
.header .contacts-container {
	grid-row: 1/2;
	grid-column: 2/3;
	align-self: start;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* phone */
.icon-phone {
	fill: var(--cl-fill-header-middle-phone-icon);
	margin-right: 17px;
}
.header-phone {
	align-self: flex-start;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 270px;
	font-size: var(--fz-header-tel);
	line-height: var(--lh-header-tel);
	font-weight: 700;
	color: var(--cl-txt-header-middle-phone);
	border: 3px solid var(--x-white);
	padding: 5px 10px 8px 35px;
	margin-bottom: 1px;
}
.header-phone:hover .icon-phone {
	fill: var(--x-red);
}
.header-phone:hover {
	color: var(--x-black);
}
/* address */
.address {
	align-self: flex-start;
	font-size: var(--fz-header-addresss);
	line-height: var(--lh-header-addresss);
	text-align: left;
	padding: 0 0 0 5px;
}
/* header authorization buttons */
.user-menu-container {
	grid-row: 1/2;
	grid-column: 3/4;
	display: flex;
	justify-content: flex-end;
}
.header-button {
	font-size: var(--fz-header-button);
	line-height: var(--lh-header-button);
	text-align: center;
	color: var(--x-black);
	background: var(--x-white);
	padding: 13px 0 12px 0;
}
.header-button:hover .icon-login,
.header-button:focus .icon-login {
	fill: var(--cl-fill-header-middle-login-icon-hover);
}
.header-button:hover,
.header-button:focus {
	color: var(--cl-txt-header-middle-menu-button-hover);
}
.header-button:active {
	color: var(--cl-fill-header-middle-login-icon-active);
}
.icon-login {
	fill: var(--cl-fill-header-middle-login-icon);
	margin-right: 5px;
}
.header-button:active .icon-login {
	fill: var(--cl-fill-header-middle-login-icon-active);
}
.header-button-login {
	display: flex;
	align-items: center;
	margin-right: 10px;
	padding: 0px 27px 0 20px;
}
.header-button-registration {
	width: 150px;
}
/* navigation menu*/
.navigation-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: var(--cl-bg-navigation-menu);
	box-shadow: 0px -5px 0px 0px var(--cl-shadow-navigation-menu) inset;
	padding: 0 25px 0 25px;
}
.navigation-link {
	display: block;
	min-height: 100%;
	padding: 16px 28px 10px 28px;
	margin-bottom: 10px;
}
.navigation-item:hover,
.navigation-item:focus {
	background: var(--cl-bg-navigation-menu-item-hover);
}
.navigation-item:active {
	background: var(--cl-bg-navigation-menu-item-active);
	opacity: 0.5;
}
/* -------main buttons------- */
.button-main {
	display: block;
	font-size: var(--fz-main-button-new);
	line-height: var(--lh-main-button-new);
	text-align: center;
	text-transform: uppercase;
	color: var(--x-white);
	background: var(--cl-bg-button);
	padding: 11px 0 9px 0;
}
.button-main:hover,
.button-main:focus {
	background: var(--cl-bg-button-hover);
}
.button-main:active {
	background: var(--cl-bg-button-active);
}
/* -------label NEW-------- */
.new {
	position: absolute;
	box-sizing: border-box;
	width: 100px;
	height: 30px;
	top: 0;
	right: 0;
	font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
	font-size: var(--fz-main-button-new);
	line-height: var(--lh-main-button-new);
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	transform-origin: bottom right;
	transform: translate(0, 38px) rotate(45deg);
	color: var(--x-white);
	background: var(--cl-bg-new-label);
	padding: 7px 0 0 0;
}
/* -------advertisement------- */
.advertisement {
	margin-bottom: 59px;
}
.advertisement-list {
	display: grid;
	grid-template-columns: repeat(12, 60px);
	grid-template-rows: repeat(3, 123px);
	gap: 20px;
}
.advertisement-item {
	display: grid;
	grid-template-columns: 1fr 142px;
	position: relative;
	overflow: hidden;
}
.advertisement-card {
	grid-column: 1/2;
	display: flex;
	flex-direction: column;
	padding: 21px 0px 21px 23px;
}
.advertisement-icon {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.advertisement .title {
	flex: 1 1 auto;
	font-size: var(--fz-adv-title);
	line-height: var(--lh-adv-title);
	font-weight: 700;
}
.materials {
	grid-row: 1/2;
	grid-column: 1/5;
	background: var(--cl-bg-adv-material-card);
}
.tool {
	grid-row: 1/2;
	grid-column: 5/9;
	background: var(--cl-bg-adv-tool-card);
}
.technics {
	grid-row: 1/2;
	grid-column: 9/13;
	background: var(--cl-bg-adv-technic-card);
}
.discounts {
	grid-row: 2/3;
	grid-column: 9/13;
	background: var(--cl-bg-adv-discount-card);
}
.delivery {
	grid-row: 3/4;
	grid-column: 9/13;
	background: var(--cl-bg-adv-delivery-card);
}
.slider {
	grid-row: 2/4;
	grid-column: 1/9;
	position: relative;
}
/* advertisement buttons */
.advertisement-button {
	width: 135px;
	font-size: var(--fz-main-button-new);
	line-height: var(--lh-main-button-new);
	text-transform: uppercase;
	text-align: center;
	background: var(--cl-bg-adv-button);
	padding: 10px;
}
.advertisement-button:hover,
.advertisement-button:focus {
	background: var(--cl-bg-adv-button-hover);
}
.advertisement-button:active {
	background: var(--cl-bg-adv-button -active);
}
/* slider */
.slider-img {
	display: none;
	position: relative;
	background: var(--x-white);
}
.slider-title {
	text-transform: uppercase;
	font-size: var(--fz-adv-slider-title);
	line-height: var(--lh-adv-slider-title);
	font-weight: 700;
	margin-bottom: 5px;
}
.slider-description {
	font-size: var(--fz-main);
	line-height: var(--lh-main);
}
.slider .text-container {
	position: absolute;
	z-index: 1;
	padding: 24px 25px;
}
/* slider buttons */
.prev-next-button {
	grid-column: 1/9;
	grid-row: 2/4;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 122px 22px 23px 22px;
}
.slider-img .button-main {
	position: absolute;
	z-index: 10;
	width: 192px;
	bottom: 33px;
	left: 24px;
}
.slider-controls {
	position: absolute;
	width: 30px;
	height: 10px;
	z-index: 2;
	left: 50%;
	bottom: 36px;
	transform: translateX(-50%);
}
.slide-control-bullet {
	position: absolute;
	cursor: pointer;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid var(--x-white);
	background: var(--x-white);
}
.first-bullet:checked ~ .slider-controls .first-label,
.second-bullet:checked ~ .slider-controls .second-label {
	background: var(--x-red);
}
.first-label {
	left: 0;
}
.second-label {
	right: 0;
}
/* slider bullet active */
.first-bullet:checked ~ .first-slide {
	display: block;
}
.second-bullet:checked ~ .second-slide {
	display: block;
}
/* -------sections head------- */
.section-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--cl-bg-section-header);
	color: var(--x-black);
	padding: 27px 14px 26px 28px;
	margin-bottom: 20px;
}
.title-section {
	font-size: var(--fz-section-title);
	line-height: var(--lh-section-title);
	text-transform: uppercase;
}
.section-head .button-main {
	width: 192px;
}
/* -------products------- */
.popular-products {
	margin-bottom: 50px;
}
.products-list {
	display: flex;
	flex-wrap: wrap;
	color: var(--x-black);
}
.product-item {
	position: relative;
	flex: 0 0 220px;
	min-height: 318px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 700;
	text-align: center;
	overflow: hidden;
	padding: 3px 19px 21px 19px;
	margin-bottom: 18px;
	margin-right: 20px;
}
.product-item-index:nth-child(4n) {
	margin-right: 0;
}
.product-item:hover,
.product-item:active {
	box-shadow: 0px 4px 20px var(--cl-shadow-product-item-hover);
}
.product-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 184px;
	min-height: 164px;
	order: -1;
	background: var(--x-white);
	padding: 0 8px 0 0;
	margin-bottom: 9px;
	object-fit: contain;
}
.product-img .img {
	display: block;
	max-width: 100%;
}
.product-title {
	font-size: var(--fz-product-title);
	line-height: var(--lh-product-title);
	font-weight: inherit;
	color: var(--x-black);
	margin-bottom: 8px;
}
.price {
	font-weight: inherit;
	font-size: var(--fz-product-price);
	line-height: var(--lh-product-price);
}
.price-old {
	color: var(--cl-txt-product-old-price);
	margin-bottom: 10px;
}
.price-new {
	box-sizing: border-box;
	position: relative;
	width: 122px;
	background: var(--x-red);
	border-radius: 5px 0 0 5px;
	text-align: center;
	color: var(--x-white);
	padding: 10px 0 10px 10px;
	transform: translateX(-5px);
	margin-top: auto;
}
.price-new:after {
	content: "";
	position: absolute;
	width: 38px;
	height: 100%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
	background: inherit;
}
/* product user menu  */
.user-menu-hover {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	max-height: 100%;
	z-index: 1;
	background: var(--x-white);
	padding: 38px 0 38px 0;
}
.product-item:hover .user-menu-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* product user menu buttons */
button-buy .icon {
	fill: var(--cl-fill-icon);
	vertical-align: middle;
	margin-right: 10px;
}
.product-menu-button {
	box-sizing: border-box;
	width: 135px;
	font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
	font-size: var(--fz-main-button-new);
	line-height: var(--lh-main-button-new);
	text-transform: uppercase;
	border-radius: 2px;
	padding: 10px 0 7px 0;
	margin-bottom: 10px;
}
.product-hover-text {
	vertical-align: middle;
}
.product-menu-button:last-child {
	margin-bottom: 0;
}
.button-buy {
	font-weight: 400;
	color: var(--x-white);
	background: var(--cl-bg-product-button-buy);
	box-shadow: 0px 3px 0px var(--cl-shadow-product-button-buy);
}
.button-buy:hover,
.button-buy:focus {
	background: var(--cl-bg-product-button-buy-hover);
}
.button-buy:active {
	background: var(--cl-bg-product-button-buy-active);
}
.button-bookmark {
	color: var(--cl-txt-product-button-bookmark);
	border: 3px solid var(--cl-brd-product-button-bookmark);
}
.popular-products .button-bookmark:hover,
.popular-products .button-bookmark:focus {
	border-color: var(--cl-brd-product-button-bookmark-hover);
}
.popular-products .button-bookmark:active {
	border-color: var(--cl-brd-product-button-bookmark-active);
	opacity: 0.5;
}
/* -------manufacturers------- */
.popular-manufacturers {
	margin-bottom: 50px;
}
.popular-manufacturers .section-head {
	margin-bottom: 20px;
}
.manufacturers-list {
	display: flex;
	flex-wrap: wrap;
}
.manufacturer-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.manufacturer-item .img {
	max-width: 100%;
}
.manufacturer-item {
	flex: 0 0 220px;
	min-height: 145px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	background: var(--x-white);
	object-fit: contain;
	margin-right: 20px;
}
.manufacturer-item:nth-child(4n) {
	margin-right: 0;
}
.manufacturer-item:hover,
.manufacturer-item:focus {
	box-shadow: 0px 4px 20px var(--cl-shadow-manufacturer-card);
}
.manufacturer-item:active {
	opacity: 0.5;
}
/* -------services------- */
.services {
	background: var(--cl-bg-services);
	color: var(--x-black);
	padding: 64px 0 0 0;
	margin-bottom: 70px;
}
.tab-block {
	height: 99px;
}
.services .title-section {
	margin-bottom: 25px;
}
.page-text {
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	font-size: var(--fz-page-text);
	line-height: var(--lh-page-text);
}
.page-text-margin {
	margin-bottom: 69px;
}
.services .title-subsection {
	margin-bottom: 28px;
}
.services-container {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 60px;
}
.dark-blue {
	color: var(--cl-txt-services-title);
}
.background-credit {
	display: none;
	background: url("../img/service/service-credit.png") right 10px no-repeat, transparent;
}
.background-delivery {
	display: none;
	background: url("../img/service/service-delivery.png") right 9px no-repeat;
}
.background-guarantee {
	display: none;
	background: url("../img/service/service-guarantee.png") right 10px no-repeat, transparent;
}
.background-credit .page-text {
	margin-bottom: 26.5px;
}
.services-item .page-text {
	max-width: 331px;
}
.service-item {
	grid-row: 1/2;
	grid-column: 2/3;
	min-height: 283px;
	padding: 0 0 0 20px;
}
.service-item .button-main {
	width: 195px;
}
/* services radio button */
.service-buttons-list {
	grid-row: 1/2;
	grid-column: 1/2;
	position: relative;
	font-size: var(--fz-service-label);
	line-height: var(--lh-service-label);
	font-weight: 700;
}
.services .service-buttons-list:after {
	content: url("../img/service/service-shadow.png");
	position: absolute;
	right: 0;
	top: -48px;
}
.service-button-label {
	display: block;
	box-sizing: border-box;
	width: 240px;
	box-shadow: 0px 2px 0px var(--cl-shadow-services-tab), inset 0px 1px 0px var(--cl-inshadow-services-tab);
	color: var(--x-white);
	background: var(--cl-bg-services-tab);
	padding: 14px 13.5px 18px 22px;
}
.service-button-label:last-child {
	margin-bottom: 99px;
}
.delivery-button-check:checked ~ * .delivery-label,
.guarantee-button-check:checked ~ * .guarantee-label,
.credit-button-check:checked ~ * .credit-label {
	background: var(--x-white);
	color: var(--cl-bg-services-tab);
}
.delivery-button-check:not(:checked):hover ~ * .delivery-label,
.guarantee-button-check:not(:checked):hover ~ * .guarantee-label,
.credit-button-check:not(:checked):hover ~ * .credit-label {
	background: var(--cl-bg-services-tab-background-hover);
}
/* service checkbox active */
.guarantee-button-check:checked ~ .background-guarantee,
.delivery-button-check:checked ~ .background-delivery,
.credit-button-check:checked ~ .background-credit {
	display: block;
}
/* -------information------- */
/* technomart company */
.about-company {
	color: var(--x-black);
	margin-bottom: 70px;
}
.about-company .wrapper {
	display: grid;
	grid-template-columns: repeat(12, 60px);
	column-gap: 20px;
}
.company-technomart {
	grid-column: 1/7;
	display: flex;
	flex-direction: column;
	min-height: 356px;
}
.company-text {
	flex: 1 1 auto;
}
.about-company .page-text {
	margin-bottom: 27px;
}
.about-company .page-text:last-of-type {
	margin-bottom: 3px;
}
.about-company .title-section {
	margin-bottom: 24px;
}
.company-item {
	background: url("../img/icon/icon-bullet.svg") 0 50% no-repeat, transparent;
	margin-bottom: 12px;
	padding: 0 0 0 38px;
}
.company-item:last-child {
	margin-bottom: 0;
}
.companies-list {
	margin-bottom: 20px;
}
.company-contacts {
	grid-column: 9/13;
	display: flex;
	flex-direction: column;
}
.company-contacts .page-text {
	flex: 1 1 auto;
}
/* company contacts */
.company-contacts .map {
	cursor: pointer;
	margin-bottom: 25px;
}
.map-img {
	max-width: 100%;
}
/* information buttons */
.button-company {
	width: 220px;
}
.button-contacts {
	width: 300px;
}
/* -------footer------- */
.footer {
	background: var(--cl-bg-footer);
}
.footer-top {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content;
	row-gap: 25px;
	column-gap: 20px;
	padding: 0 0 15px 0;
}
.footer-top .logo {
	box-sizing: border-box;
	width: 220px;
	grid-row: 1/2;
	grid-column: 1/2;
	text-align: center;
	align-self: start;
	padding: 19px 20px 20px 20px;
}
.footer-navigation {
	grid-row: 1/2;
	grid-column: 2/3;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-top: 30px;
}
.footer .contacts-container {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 350px;
	padding: 3px 0 0 3px;
}
.footer-list {
	grid-row: 2/3;
	grid-column: 2/3;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.footer-item {
	margin-left: 58.8px;
}
.footer-item:first-child {
	margin-left: 0;
}
.footer-item-navigation {
	padding: 8px 0 3px 0;
}
.footer-item-list {
	padding: 8px 0px 3px 0;
}
.yellow {
	color: var(--cl-txt-footer-second-menu);
}
.footer-item-navigation:hover,
.footer-item-navigation:focus,
.footer-item-list:hover,
.footer-item-list:focus,
.footer-tel:hover,
.footer-tel:focus {
	text-decoration: underline;
}
.footer-item:active,
.footer-tel:active {
	opacity: 0.5;
	text-decoration: none;
}
.footer-list {
	margin-bottom: 54px;
}
.footer-address {
	margin-bottom: 2px;
}
.footer-bottom {
	background: var(--cl-bg-footer-bottom);
}
.footer-bottom .wrapper {
	box-sizing: border-box;
	display: flex;
	padding: 38px 14px 30px 2px;
}
.bottom-text {
	font-size: var(--fz-footer-address);
	line-height: var(--lh-footer-address);
}
.bottom-text:first-of-type {
	margin-right: 164px;
}
.bottom-text:nth-of-type(2) {
	margin-right: 51px;
}
.bottom-text:last-of-type {
	margin-right: 13px;
}
/* social buttons */
.buttons-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
}
.social-button {
	align-items: flex-start;
	width: 40px;
	height: 40px;
	background: var(--cl-bg-footer-bottom-social);
	border-radius: 50%;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.social-button {
	margin-right: 5px;
	margin-bottom: 5px;
}
.social-button:last-child {
	margin-right: 0;
}
.social-button:hover,
.social-button:focus,
.social-button:active {
	background: var(--cl-bg-footer-bottom-social-hover-active);
}
.social-icon {
	fill: var(--x-white);
	vertical-align: middle;
}
.footer-bottom .link:hover,
.footer-bottom .link:focus {
	text-decoration: underline;
}
.footer-bottom .link:active {
	color: var(--cl-txt-footer-bottom-active);
	text-decoration: none;
}
/* -------feed-back window------- */
.modal-window {
	position: relative;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 4px 20px var(--cl-shadow-modal-window);
	border-top: 7px solid var(--cl-brd-modal-window);
	color: var(--x-black);
	background: var(--x-white);
}
.feed-back-window {
	display: none;
	position: fixed;
	min-width: 460px;
}
.close-button {
	position: absolute;
	top: 14px;
	right: 11px;
}
.feed-back-form {
	display: flex;
	flex-direction: column;
}
.feed-back-fields {
	display: flex;
	flex-direction: column;
	padding: 26px 80px 0 80px;
}
.personal-fields {
	display: flex;
	flex-wrap: wrap;
}
.feed-back {
	flex: 0 0 220px;
	display: flex;
	flex-direction: column;
	padding: 13px 0 0 0;
	margin-right: 20px;
}
.feed-back:nth-child(2n) {
	margin-right: 0;
}
.name-field {
	order: -1;
}
.name-input {
	box-sizing: border-box;
}
.email-field {
	order: -1;
}
.message-field {
	order: -1;
}
.feed-back-input {
	padding: 7px 8px 7px 12px;
}
.message-input {
	box-sizing: border-box;
	width: 460px;
	height: 114px;
	resize: none;
}
.feed-back-input {
	border: 2px solid var(--cl-brd-modal-form-field);
}
.feed-back-input::placeholder {
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	font-size: var(--fz-page-text);
	line-height: var(--lh-page-text);
	color: var(--cl-txt-modal-form-placeholder);
}
.feed-back-label {
	margin-bottom: 11px;
}
.feed-back-footer {
	background: var(--cl-bg-modal-feed-back-footer);
	padding: 37px 80px;
}
.feed-back-footer .button-main {
	width: 100%;
}
/* -------map window------- */
.map-window {
	display: none;
	position: fixed;
	width: 940px;
	height: 449px;
}
.map-iframe {
	border: none;
}
.close-icon {
	fill: var(--cl-fill-button);
}
/* ----------catalog.html---------- */
.header-catalog {
	margin-bottom: 20px;
}
/* authorization */
.red-cart {
	background: var(--cl-bg-button);
}
.authorization-field {
	display: flex;
	justify-content: space-between;
	width: 267px;
	background: var(--x-white);
	padding: 14px 14px 9px 15px;
	margin-bottom: 9px;
}
.authorization-field:active {
	color: var(--cl-txt-auth-active);
}
.authorization-icon {
	fill: var(--cl-fill-auth-icon);
}
.authorization-field:hover .authorization-icon,
.authorization-field:focus .authorization-icon {
	fill: var(--cl-fill-auth-icon-hover);
}
.authorization-field:active .authorization-icon {
	fill: var(--cl-fill-auth-icon-active);
}
.authorization-name {
	font-size: var(--fz-authorization-name);
	line-height: var(--lh-authorization-name);
}
.authorization-name:active {
	color: var(--cl-txt-auth-name-active);
}
.authorization-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: var(--fz-authorization-menu);
	line-height: var(--lh-authorization-menu);
	color: var(--cl-txt-auth-item);
}
.authorization-item {
	position: relative;
	flex: 0 0 auto;
	margin-bottom: 2px;
	margin-right: 32px;
}
.authorization-item:last-child {
	margin-right: 0;
}
.authorization-item:not(:last-child):after {
	content: url("../img/icon/icon-blue-bullet.svg");
	position: absolute;
	transform: translate(14px, -2px);
}
.authorization-item:hover,
.authorization-item:focus {
	color: var(--cl-txt-auth-item-hover);
}
.authorization-item:active {
	color: var(--cl-txt-auth-active);
}
/* -------bread crumbs------- */
.navigation-text {
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	font-size: var(--fz-bread-crumbs-sorting);
	line-height: var(--lh-bread-crumbs-sorting);
	text-transform: uppercase;
	color: var(--x-black);
}
.bread-crumbs-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.bread-home-icon {
	fill: var(--cl-fill-bread-home-icon);
}
.bread-home-icon:hover {
	opacity: 0.3;
}
.bread-item {
	margin-bottom: 5px;
	margin-right: 41px;
}
.bread-item:last-child {
	margin-right: 0;
}
.bread-item:not(:last-child):after {
	content: url("../img/icon/icon-right-small-arrow.svg");
	position: absolute;
	transform: translate(17px, 2px);
}
.bread-item:hover,
.bread-item:hover {
	opacity: 0.3;
}
.catalog-title {
	color: var(--cl-txt-catalog-title);
	background: var(--cl-bg-catalog-sec);
	padding: 30px 29px 30px 29px;
	margin-bottom: 20px;
}
/* -------sorting------- */
.beige-bg {
	background: var(--cl-bg-sorting-title);
}
.sorting-title {
	grid-row: 1/2;
	grid-column: 2/3;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 3px 20px;
}
.sorting-type-list {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	color: var(--cl-txt-sorting-menu);
	margin-right: 35px;
}
.sorting-type-item {
	margin-bottom: 5px;
	margin-left: 65px;
}
.sorting-type-item:first-child {
	margin-left: 0;
}
.sorting-underline {
	border-bottom: 1px dotted var(--cl-brd-sorting-underline);
}
.sorting-icon {
	fill: var(--cl-fill-sorting-icon);
}
.sorting-button-list {
	flex: 0 0 45px;
	display: flex;
	justify-content: space-between;
	padding: 0 14px;
}
.sorting-icon:hover,
.sorting-icon:focus {
	fill: var(--x-black);
}
.sorting-lable:hover,
.sorting-lable:focus {
	color: var(--x-black);
	border-bottom: 1px solid var(--cl-brd-sorting-underline);
}
.sorting-checkbox:checked + .sorting-lable {
	color: var(--cl-txt-sorting-label-checked);
	border: none;
}
.sorting-button:checked + .sorting-icon {
	fill: var(--cl-fill-sorting-icon-checked);
}
.sorting-checkbox:focus + .sorting-lable {
	color: var(--cl-txt-sorting-label-checked);
	border: none;
}
/* -------catalog------- */
.catalog-container {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content auto min-content;
	column-gap: 20px;
	row-gap: 30px;
	margin-bottom: 58px;
}
.product-item-catalog {
	margin-right: 20px;
}
.product-item-catalog:nth-child(3n) {
	margin-right: 0;
}
.catalog-catalog {
	grid-row: 2/3;
	grid-column: 2/3;
}
/* -------filter------- */
.filter {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 220px;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: var(--fz-filter-item);
	line-height: var(--lh-filter-item);
	color: var(--x-black);
}
.filter-header {
	grid-row: 1/2;
	grid-column: 1/2;
	box-sizing: border-box;
	padding: 0 0 0 20px;
	display: flex;
	align-items: center;
}
.filter-title {
	font-weight: 700;
	font-size: var(--fz-filter-title);
	line-height: var(--lh-filter-title);
}
.filter-border {
	border: none;
	border-bottom: 1px solid var(--cl-brd-filter-fieldset);
}
.filter-border:last-of-type {
	border: none;
}
/* price range */
.filter-price-range {
	padding: 11px 0 25px 0;
	margin-top: -15px;
	margin-bottom: 16px;
}
.filter-range {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 80px;
	border-radius: 5px;
	padding: 0 20px;
	margin-bottom: 9px;
}
.filter-full-range {
	width: 100%;
	height: 2px;
	background: var(--cl-bg-filter-full-price-range);
}
.filter-bar {
	width: 90%;
	left: 0;
	height: 2px;
	background: var(--cl-bg-filter-price-bar);
	position: relative;
}
.filter-min-point,
.filter-max-point {
	position: absolute;
	width: 20px;
	height: 20px;
	transform: translate(0, -50%);
	border-radius: 50%;
	background: var(--x-white);
	box-shadow: 0 2px 0 0 var(--cl-shadow-filter-point);
}
.filter-min-point:before,
.filter-max-point:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: var(--cl-bg-filter-point);
}
.filter-min-point {
	left: 0;
}
.filter-max-point {
	right: 0;
}
/* arrows slider delete */
.number-input-clear::-webkit-outer-spin-button,
.number-input-clear::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.number-input-clear {
	-moz-appearance: textfield;
}
.number-input-clear:hover,
.number-input-clear:focus {
	-moz-appearance: number-input;
}
/* price input */
.filter-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filter-price-input {
	box-sizing: border-box;
	width: 95px;
	border: none;
	border-radius: 3px;
	background: var(--cl-bg-filter-price-input);
	text-align: center;
	padding: 11px;
}
.filter-price-input::placeholder {
	font-size: var(--fz-filter-input);
	line-height: var(--lh-filter-input);
}
/* filter charger */
.filter-charge-set {
	padding: 22px 0 34px 0;
}
.filter-charge-item {
	margin-bottom: 15px;
}
.filter-charge-item:last-child {
	margin-bottom: 0;
}
.filter-charge-label {
	padding: 0 0 0 6px;
}
/* filter manufacturers */
.filter-manufacturers-set {
	padding: 15px 0 30px 0;
	margin-bottom: 15px;
}
.filter-manufacturer-item {
	margin-bottom: 16px;
}
.filter-manufacturer-item:last-child {
	margin-bottom: 0;
}
/*checkbox style*/
.filter-manufacturer-name {
	padding: 0 0 0 8px;
}
.filter-checkbox {
	align-self: flex-start;
}
.filter-manufacturer-label {
	display: flex;
	align-items: center;
}
.checkbox-off {
	position: relative;
	fill: var(--cl-fill-filter-checkbox);
}
.checkbox-off:hover,
.checkbox-input:checked:hover + * .checkbox-on,
.checkbox-off:focus {
	fill: var(--cl-fill-filter-checkbox-hover);
}
.checkbox-on {
	fill: none;
}
.checkbox-input:checked + * .checkbox-off {
	fill: none;
}
.checkbox-input:checked + * .checkbox-on {
	fill: var(--cl-fill-filter-checkbox);
}
.checkbox-input:disabled + * .checkbox-off {
	fill: var(--cl-fill-filter-checkbox-disabled);
}
.checkbox-input:checked:disabled + * .checkbox-off {
	fill: none;
}
.checkbox-input:checked:disabled + * .checkbox-on {
	fill: var(--cl-fill-filter-checkbox-disabled);
}
.filter-checkbox {
	position: relative;
}
.checkbox-input:focus + .filter-checkbox {
	box-shadow: -4px 0 4px 0px var(--x-white), -2px 0 3px 4px var(--x-grey);
}
/* radio style */
.radio-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 4px solid var(--cl-bg-filter-radio);
}
.radio-inner {
	opacity: 0;
	width: 9px;
	height: 9px;
	border-radius: 50%;
}
.radio:hover + .radio-button {
	border-color: var(--cl-bg-filter-radio-hover);
}
.radio:disabled + .radio-button {
	border-color: var(--cl-bg-filter-radio-disabled);
}
.radio:hover + * .radio-inner {
	background: var(--cl-fill-filter-checkbox-hover);
}
.radio:checked + * .radio-inner {
	opacity: 1;
	background: var(--cl-bg-filter-radio);
}
.radio:checked:hover + * .radio-inner {
	background: var(--cl-bg-filter-radio-hover);
}
.radio:focus + .radio-button {
	box-shadow: 0 0 4px 2px var(--x-white), 0 0 4px 6px var(--x-grey);
}
/* filter button */
.filter-show-button {
	width: 220px;
	padding: 10px;
	border: 1px solid var(--cl-brd-filter-show-button);
}
.filter-show-button:hover,
.filter-show-button:focus {
	color: var(--cl-txt-filter-show-button-hover);
}
/* -------pagination------- */
.pagination-list {
	grid-row: 3/4;
	grid-column: 2/3;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;
}
.pagination-item {
	border: 1px solid var(--cl-brd-pagination);
	border-radius: 2px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-right: 10px;
}
.pagination-item:last-child {
	margin-right: 0;
}
.pagination-next {
	box-sizing: border-box;
	width: 140px;
	text-align: center;
	border: 1px solid var(--cl-brd-pagination);
}
.pagination-next .button {
	text-transform: inherit;
}
.pagination-item:hover,
.pagination-item:focus,
.filter-show-button:hover,
.filter-show-button:focus {
	border-color: var(--cl-brd-pagination-hover);
}
.pagination-item:active,
.filter-show-button:active {
	border-color: var(--cl-brd-pagination-active);
}
.page-active {
	color: var(--x-white);
	background: var(--cl-bg-pagination-page-active);
	border-width: 0;
}
/* -------about------- */
.about-perforator {
	color: var(--x-black);
	background: var(--cl-bg-information-sec);
	padding: 65px 0 69px 0;
}
.about-perforator .title-section {
	margin-bottom: 25px;
}
/* -------modal window cart------- */
.cart-window {
	display: none;
	position: fixed;
	flex-direction: column;
	width: 640px;
	height: 283px;
	font-size: var(--fz-cart-text);
	line-height: var(--lh-cart-text);
	background: var(--x-white);
	padding: 48px 0 0 0;
}
.cart-message {
	flex: 1 1 auto;
	margin-bottom: 49.5px;
}
.cart-window .button-close {
	top: 0;
	right: 0;
	position: absolute;
	transform: translate(-11px, 11px);
}
.cart-footer {
	display: flex;
	flex-wrap: wrap;
	background: var(--cl-bg-cart-footer);
	padding: 37px 114px 27px 114px;
}
.cart-footer .button {
	flex: 0 0 192px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.cart-footer .button:nth-child(2n) {
	margin-right: 0;
}
.cart-message {
	display: flex;
	justify-content: center;
	align-items: center;
}
.message-icon {
	margin-right: 30px;
}
.message {
	order: 1;
}
.cart-button {
	font-size: var(--fz-main-button-new);
	line-height: var(--lh-main-button-new);
	text-align: center;
	text-transform: uppercase;
	background: var(--x-white);
}
.cart-button:hover,
.cart-button:focus {
	background: var(--x-transparent-grey03);
}
.cart-window .button {
	width: 192px;
	height: 38px;
	padding: 11px 9px;
}
.body-blocked{
	overflow: hidden;
}
/* -------blank.html------- */
.header-blank {
	margin-bottom: 50px;
}
.technomart-icon {
	margin-bottom: 50px;
}
.css-button {
	margin-bottom: 20px;
}
.css-button-element {
	margin: 0 auto;
}
.slider-js {
	margin-bottom: 20px;
}
/* svg checkbox */
.checkbox-style {
	color: var(--x-black);
}
.checkbox-style .filter-manufacturer-list {
	display: flex;
	justify-content: center;
}
.checkbox-style .filter-manufacturer-name {
	padding: 0 0 0 10px;
}
.checkbox-style .filter-manufacturer-item {
	margin-right: 30px;
}
.checkbox-style .filter-manufacturer-item:last-child {
	margin-right: 0;
}
/* radio button */
.radio-button-list {
	display: flex;
	justify-content: center;
}
.checkbox-style .filter-charge-item {
	margin-bottom: 20px;
	margin-right: 20px;
}
.checkbox-style .filter-charge-item:last-child {
	margin-right: 0;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
}
.active {
	display: flex;
}
